:root{
  --blue:   #2F1BA8;
  --violet: #8B5CF6; 
  --gray: #EAEAEA;
  --gray-dark: #8F8F8F;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins';
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, var(--blue), var(--violet));
}
